
/*******************************************************************************
********************************************************************************
**
* - GENERAL
*
* - PAGE CONTAINERS
*
* - HEADER
*
* - CONTENT
*
* - FOOTER
*
* Some of the icons used in this CSS have been provided by http://www.famfamfam.com/lab/icons/silk/
*
**
********************************************************************************
 ******************************************************************************/



/* GENERAL ------------------------------------------------------------------ */

/* Zero default margin & padding around common elements */
body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, li, ol, p, ul
{
	margin: 0;
	border: 0 none #fff;
	padding: 0;
}

html
{
	height: 100%;
}

body
{
	min-width: 960px;
	height: 100%;
	background-color: #fff;
	color: #000;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	text-align: left;
}

a
{
	color: #3C78B5;
}

a:visited, a:hover
{
	color: #3C78B5;
}

h3
{
	margin: 15px 0 0 0;
}

h4
{
	margin: 15px 0 0 0;
	font-size: 100%;
}

dl
{
	margin: 15px 0 0 0;
}

p
{
	margin: 15px 0 0 0;
}

ol
{
	margin: 15px 0 0 0;
}

ul
{
	margin: 10px 0 0 0;
}

ul li
{
	margin: 5px 0 0 0;
}

input, select, table, textarea
{
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.tabContent
{
    /*margin-top: 10px;*/
    /*padding: 15px 0;*/
    display: none;
}

.static
{
    display: block;
}


.clearer
{
	clear: both;
	height: 1px;
	overflow: hidden;
	margin-bottom: -1px;
	font-size: 1px;
	line-height: 1px;
}

.hidden
{
	position: absolute;
	left: -1500em;
	height: 1px;
	width: 1px;
	overflow: hidden;
	margin-right: -1px;
	margin-bottom: -1px;
	font-size: 1px;
	line-height: 1px;
}

.replacement
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

a .replacement
{
	cursor: pointer;
}

#top
{
	position: absolute;
	left: -9999px;
	top: -9999px;
}




/* PAGE CONTAINERS ---------------------------------------------------------- */

#nonFooter
{
	min-height: 100%;
}

* html #nonFooter
{
	height: 100%;
}




/* HEADER ------------------------------------------------------------------- */

#header
{
	min-height: 42px;
	background-color: #036;
	background-image: url(../images/header.gif);
	background-repeat: repeat-x;
	color: #99B3CC;
}

* html #header
{
	height: 42px;
}

#header a
{
	color: #99B3CC;
}

#logo
{
	display: inline;
	float: left;
	padding: 3px 0 0 15px;
}

#logo a
{
	display: block;
}

#logo img
{
	display: block;
}

#userOptions
{
	display: inline;
	float: right;
	margin: 0;
	padding: 14px 15px 0 0;
	list-style: none;
}

#userOptions li
{
	display: inline;
	float: left;
	margin-top: 0;
	line-height: 1;
}

#profileLink
{
	margin: 0 10px 0 30px;
	border-right: 1px solid #99B3CC;
	padding: 0 10px 0 0;
}

#additionalOption
{
	margin: 0 10px 0 0px;
	border-right: 1px solid #99B3CC;
	padding: 0 10px 0 0;
}

#logoutLink
{
	margin: 0 30px 0 0;
}

#menu {background: #3C78B5; border-bottom: 1px solid #036; clear: both; color: #FFF; display: inline; float: left; font-size: 90%; height: 2.5em; line-height: 2.25em; padding: 0.25em 0 0 0; width: 100%;}
#menu-small {background: #3C78B5; border-bottom: 1px solid #036; clear: both; color: #FFF; display: inline; float: left; font-size: 90%; height: 0.5em; line-height: 2.25em; padding: 0.25em 0 0 0; width: 100%;}

#menu ul {list-style: none; margin: 0.25em 0 0 15px;}

#menu li {float: left; font-weight: bold; margin: 0 25px 0 0;}

#menu a {background: transparent; color: #FFF; display: block; line-height: 2.25em; padding: 0 10px; text-decoration: none;}

#menu a:hover,
#menu a:active,
#menu a:focus {background: #1E558D; color: #fff;}

#menu li.on a,
#menu li.on a:hover {background: #fff; border: 1px solid #036; border-bottom: none; color: #036;}

#menu form
{
	display: inline;
	float: right;
	margin: 0 15px 0 0;
}

p.section-title {background: #fff; color: #036; font-size: 1.5em; font-weight: 700; margin: 15px 0 0 15px;}


/*********************************************/
/* Sub Menu                                  */
/*********************************************/

#sub-menu {background: #EBF1F7; border: 1px solid #BBD0E5; border-bottom: none; color: #036; left: 0; _left: -200px; list-style: none; margin: 15px 13px 0 13px; padding: 0; position: absolute; top: 0; width: 170px;}

#sub-menu li {border-bottom: 1px solid #BBD0e5;margin: 0; padding: 0;}

#sub-menu li a:link,
#sub-menu li a:visited {color: #036; display: block; padding: 5px 7px 5px 10px;  text-decoration: none;}

#sub-menu li a:hover,
#sub-menu li a:active,
#sub-menu li a:focus,
#sub-menu li.on a {background: #D8E4F0; color: #036;}


/* CONTENT ------------------------------------------------------------------ */

#wrapper {clear: both; position: relative;}

#content
{margin: 0 0 0 200px; padding: 15px 0 50px 0; width: 800px;}

#popup
{padding: 15px 0 50px 15px; width: 90%;}

#breadcrumb
{
	margin: 0;
	font-weight: bold;
	color: #999;
}

#breadcrumb a
{
	color: #036;
}

h1
{
	color: #036;
	font-size: 175%;
}

.tabs
{
    display: inline;
	float: left;
	width: 100%;
	border-bottom: 1px solid #999;
	list-style: none;
    margin-bottom: 4px;
}

.tabs li
{
	display: inline;
	float: left;
	margin: 0 0 -1px 3px;
	border-bottom: 1px solid #999;
	background-image: url(../images/tab_left.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	font-weight: bold;
}

.tabs li.on
{
	position: relative;
	border-bottom: 0 none #fff;
	background-image: url(../images/tab_on_left.gif);
}

.tabs li.submenuOn
{
	background-image: url(../images/tab_submenu_on_left.gif);
}

.tabs a, .tabs span.tab
{
	display: block;
	padding: 7px 11px 5px 11px;
	background-image: url(../images/tab_right.gif);
	background-repeat: no-repeat;
	background-position: 100% 0;
	color: #666;
	text-decoration: none;
}

.tabs span.tab
{
    color: #a8a8a8;
}

.tabs a:visited
{
	color: #666;
}

.tabs a:hover
{
	color: #000;
}

.tabs li.on a, .tabs li.on span
{
	padding-bottom: 6px;
	background-image: url(../images/tab_on_right.gif);
	color: #000;
}

.tabs li.on a:visited
{
	color: #000;
}

.tabs li.submenuOn a
{
	background-image: url(../images/tab_submenu_on_right.gif);
}

.successBox, .noteBox, .warningBox, .infoBox, .tipBox, .informationBox
{
    padding: 10px 0px 10px 30px;
    background-repeat: no-repeat;
    background-position: 5px 12px;;
    margin: 10px 10% 10px 10%;
}

.successBox a, .noteBox a, .warningBox a, .infoBox a, .tipBox a, .informationBox a
{
	font-weight: bold;
}

.noteBox
{
	background-image: url(../images/icons/16x16/error.png);
    border: solid 1px #F0C000;
    background-color: #FFFFCE;
}

.warningBox
{
	background-image: url(../images/icons/16x16/exclamation.png);
    border: solid 1px #c00;
    background-color: #fcc;
}

.successBox
{
    background-image: url(../images/icons/16x16/check.gif);
    border: solid 1px #090;
    background-color: #dfd;
}

.informationBox
{
    background-image: url(../images/icons/16x16/information.gif);
    border: solid 1px #3c78b5;
    background-color: #D8E4F1;
}

.noteBox p {
    margin-top: 3px;
}

.warningBox p {
    margin-top: 3px;
}

#buildNav
{
	float: right;
	border: 0 none #fff;
	background-image: none;
	white-space: nowrap;
}

#buildNavPrevious
{
	display: inline;
	position: relative;
	float: left;
	width: 6px !important;
	height: 11px !important;
	overflow: hidden;
	margin: 0.5em 10px 0 0;
	padding: 0;
	background-color: transparent !important;
}

#buildNavPrevious .replacement
{
	background-image: url(../images/build_nav_arrow_left.gif);
}

#buildNav ol
{
	display: inline;
	float: left;
	margin: 0;
}

#buildNav li
{
	margin: 0 0 0 1px;
	border: 0 none #fff;
	padding: 0.5em 0 0 0;
	background-image: none;
	font-weight: normal;
}

#buildNav li.on
{
	padding-top: 0;
}

#buildNav a
{
	width: 20px;
	height: 9px;
	overflow: hidden;
	border: 1px none #749974;
	padding: 0;
	background-color: #A6DBA6;
	background-image: none;
	color: #A6DBA6;
	font-size: 75%;
	text-align: center;
}

#buildNav li.on a
{
	width: auto;
	height: auto;
	padding: 0.3em 0.65em 0.25em 0.65em;
	border-style: solid;
	color: #060;
	font-size: 100%;
	line-height: 1em;
	font-weight: bold;
}

#buildNav li.error a
{
	border-color: #996B6B;
	background-color: #EDA6A6;
	color: #EDA6A6;
}

#buildNav li.errorOn a
{
	color: #4D3636;
}

#buildNavNext
{
	display: inline;
	position: relative;
	float: left;
	width: 6px !important;
	height: 11px !important;
	overflow: hidden;
	margin: 0.5em 0 0 10px;
	padding: 0;
	background-color: transparent !important;
}

#buildNavNext .replacement
{
	background-image: url(../images/build_nav_arrow_right.gif);
}

#submenu
{
	clear: both;
	margin: 0;
	padding: 0 0 0 14px;
	list-style: none;
	background-color: #eee;
	line-height: 28px;
}

#submenu li
{
	display: inline;
	margin: 0 45px 0 0;
}

#submenu a
{
	color: #666;
	text-decoration: none;
}

#submenu a:hover
{
	color: #000;
}

#submenu li.on a
{
	color: #000;
	font-weight: bold;
}

.headingInfo
{
	display: inline;
	float: right;
	margin: 0 10px 0 0;
	line-height: 2.7;
	color: #8CA3BA;
}

.headingInfo a, .headingInfo a:visited
{
	color: #8CA3BA;
	text-decoration: none;
}

.headingInfo a:hover
{
	text-decoration: underline;
}

.headingInfo a.collapse
{
	padding-right: 12px;
	background-image: url(../images/icon_collapse_arrow_up.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.headingInfo a.collapsed
{
	background-image: url(../images/icon_collapse_arrow_down.gif);
}

h2
{
    border: 1px solid #BBD0E5;
	padding: 0 0 0 10px;
	background-color: #EBF1F7;
	color: #036;
	font-size: 135%;
	line-height: 2;
    margin-bottom: 10px;
}

h3
{
    margin: 0 0 0 0;
}

.page-content
{
    margin: 0 1px 1px 1px;
}

#mailtemplate .fieldDescription ul {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: disc;
}

.page-content .bulleted-ul ul {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: disc;
    padding: 0 0 0 10px;
}

.error {
    font-weight: bold;
    color: #c00;
}

.success {
    font-weight: bold;
    color: green;
}

p.moreLink
{
	text-align: right;
}

#changes p.moreLink
{
	margin: 10px 0 0 0;
}

p.moreLink a
{
	padding: 0 16px 0 0;
	background-image: url(../images/build_nav_arrow_right.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.section
{
	clear: both;
	padding: 30px 0 0 0;
}

.sectionCollapsed *
{
	display: none;
}

.sectionCollapsed h2
{
	display: block;
}

.sectionCollapsed .headingInfo
{
	display: inline;
}

.sectionCollapsed .headingInfo a
{
	display: inline;
}

#testsSummary
{
	min-height: 16px;
	margin: 10px 0 0 10px;
	list-style: none;
	line-height: 16px;
}

* html #testsSummary
{
	height: 16px;
}

#testsSummary li
{
	display: inline;
	float: left;
	min-height: 16px;
	margin: 0 40px 0 0;
	padding: 0 0 0 23px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

#testsSummaryTotal
{
	background-image: url(../images/icon_globe.gif);
}

#testsSummaryFailed
{
	background-image: url(../images/icon_cross.gif);
}

#testsSummaryFixed
{
	padding-left: 17px !important;
	background-image: url(../images/icon_plus_minus.gif);
}

.subSection
{
	clear: both;
	margin: 0 0 0 33px;
	position: relative;
}

.subSectionCollapsed *
{
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.subSectionCollapsed * *
{
	position: static;
}

.subSection h3
{
	margin: 15px 0 0 0;
	color: #C2C2C2;
	font-size: 135%;
}

#tests .subSection h3
{
	margin-bottom: -10px;
}

.subSectionCollapsed h3
{
	position: static;
}

.subSection h3 a.collapse
{
	padding-left: 20px;
	background-image: url(../images/icon_collapse_minus.gif);
	background-repeat: no-repeat;
	background-position: 0 0.18em;
	color: #C2C2C2;
	text-decoration: none;
}

.subSection h3 a.collapsed
{
	background-image: url(../images/icon_collapse_plus.gif);
}

.safariCollapseFix
{
	margin: 0 0 -1px 0;
	height: 1px;
}

#newFailures h4
{
	color: #c00;
	font-weight: normal;
}

.picker-msg
{
    text-align:center;
    padding: 20px;
    font-style:italic;
}

.code
{
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	padding: 7px 10px;
	background-color: #F2F2F2;
	font-family: "Courier New", monospace;
}

table
{
	width: 100%;
	margin: 15px 0 0 0;
	border-collapse: collapse;
	border-bottom: 1px solid #ccc;
}

.members-table
{
    margin-top: 2px;
}

th
{
	border: 1px solid #ccc;
	padding: 7px 10px;
	background-color: #E5E5E5;
	vertical-align: top;
}

td
{
	border: 1px solid #ccc;
	padding: 7px 10px;
	background-color: #fff;
}

td.side-header
{
    border: 1px solid #ccc;
	padding: 7px 10px;
	background-color: #E5E5E5;
}

td.pager, tr.pager, table.pager
{
    border: none;
}

tr.start td
{
	border-top: 1px solid #ccc;
}

tr.alt td
{
	background-color: #F5F5F5;
}

tbody th
{
	border-bottom: 0 none #fff;
	background-color: #F0F0F0;
}

#existingFailures table .c1 a
{
	color: #c00;
}

#existingFailures table .c2 a
{
	color: #c00;
}

#fixedTests table .c1 a
{
	color: #090;
}

#fixedTests table .c2 a
{
	color: #090;
}

#buildErrorsStatus
{
	margin: 10px 0 0 10px;
	padding: 0 0 0 23px;
	background-image: url(../images/icon_cross.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
}

/* --- Search Results --- */
table.search-results li {background: #fff; color: #333;}
table.search-results li strong {color: #000; font-weight: 700;}
table.search-results li span.source {background: #fff; color: #666; margin: 0 0 0 0.5em;}

/* --- Highlight Row for Userpicker --- */
tr.relations-row-highlight td
{
    background-color: #BBD0E5;
}

/* FOOTER ------------------------------------------------------------------- */

#footer
{
    clear: both;
    position: relative;
	min-height: 3em;
	margin: -3em 0 0 0;
	background-color: #036;
	background-image: url(../images/footer.gif);
	background-repeat: repeat-x;
	color: #99B3CC;
	line-height: 1em;
}

* html #footer
{
	height: 3em;
}

#footer p
{
	display: inline;
	float: left;
	margin: 11px 0 0 15px;
}

#footer a
{
	color: #99B3CC;
}

#footer ul
{
	display: inline;
	float: right;
	margin: 0 15px 0 0;
	list-style: none;
}

#footer li
{
	display: inline;
	float: left;
	margin: 11px 0 0 0.5em;
	border-left: 1px solid #99B3CC;
	padding: 0 0 0 0.5em;
}

#footer li.first
{
	border-left: 0 none #fff;
}

#licenseExpired
{
	border-top: 1px solid #F3928C;
	border-bottom: 1px solid #F3928C;
	padding: 0 0 0 10px;
	background-color: #FFC8C8;
	color: #f00;
	font-size: 135%;
	line-height: 2;
}

.application-icon
{
    display: inline;
    vertical-align: middle;
    margin-right: 2px;
}